


body{
    
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);

    font-family: "Arial Black", Helvetica, sans-serif;
  font-size: 1em;
  color :black;
  text-align: center;
  margin: 50px auto 0px;
  width: 70%;
}

p{
    color: rgb(20, 19, 19);
font-size: 24px;
}

h3{
    color: #f0f2f8;
}

.container{
    margin: auto;
  width: 50%;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(8, 8, 8);
    overflow: hidden;
    opacity: 88%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(212, 209, 165);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4c74f8;
    color: white;
  }

  img{
      border-radius: 50%;
  }